/* .quote-modal {
    position: absolute;
    top: 50%;
    width: calc(100% - 40%);
    margin-left: 20%;
    margin-right: 20%;
    background-color: whitesmoke;
    border-radius: 15px;
    display: flex;
}

.quote-form {
    display: flex;
    flex-direction: column;
} */
.quotes {
    display: flex;
    /* height: 100vh; */
    flex-wrap: wrap;
}