
.menu-item {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.1s;
    transition: box-shadow 0.1s;
    white-space: nowrap;
    text-decoration: none;
    color: unset;
}
.menu-item:hover {
    background-color: #bac1e4;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 6px 1px rgb(0 0 0 / 30%);
    box-shadow: 0px 0px 6px 1px rgb(0 0 0 / 30%);
}

.active {
    background-color:  #bac1e4;
    color: #0a58ca;
    -webkit-box-shadow: inset 0px 0px 6px 1px rgb(0 0 0 / 30%) !important;
    box-shadow: inset 0px 0px 6px 1px rgb(0 0 0 / 30%) !important;
}