.quote-list-form {
    width: 100%;
    height: 100%;
}
.quote-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.quote-table {
    overflow-y: auto;
}
.empty-table-message {
    padding-top: 15px;
    text-align: center;
}